* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.img {
  width: 200px;
  height: 150px;
  border-radius: 8px;
}

.divcol {
  width: 200px;
  height: 243px;
  background-color: #a3e9df;
  text-align: center;
  margin: 50px 50px;
  border-radius: 8px;

}

.card:hover {
  width: 200px;
  height: 250px;
  box-shadow: 2px 2px 5px 10px rgb(36, 32, 25);
  cursor: pointer;

}

.button {
  width: 101px;
  height: 25px;
  background-color: antiquewhite;
  border-style: dotted;
  color: blueviolet;
  font-size: 11px;
  cursor: pointer;
  margin-top: 5px;
}

.card__text {
  display: flex;
  font-size: 14px;
  padding-left: 2px;
  padding-top: 3px;
  padding-bottom: 6px;

}

.card__title {
  display: flex;
  padding-left: 2px;
  font-size: 10px;
  padding-top: 4px;
}
